html {
    height: 100%;
    line-height: 1;
}

body {
    width: 100%;
    height: 100%;
    background: #95a6ee url(../images/bg.png) center 60% no-repeat;
    background-size: 220px;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


//首页
.cal-index {
    height: 100%;
    background: #34374f url(../images/bg.png) center 60% no-repeat;
    background-size: 220px;
    text-align: center;
    color: #fff;
    h1 {
        margin: 0;
        padding-top: 155px;
        font-size: 70px;
        font-weight: normal;
        height: 55px;
        background: url(../images/logo.png)center 155px no-repeat;
        background-size: 189px 55px;
    }
    h2 {
         background: url(../images/font.png)center 0px no-repeat;
         background-size: 86px 16px;
         height: 16px;
    }
    div:first-of-type {
        position: absolute;
        bottom: 160px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        width: 130px;
        font-size: 14px;
        margin: 0 auto;
        a {
            // margin:0 12px;
        }
        a:first-child {
            display: inline-block; // width:43px;
            padding-left: 20px;
            padding-bottom: 2px;
            background: url(../images/cup.png)0 center no-repeat;
            background-size: 15px;
            border-bottom: 1px solid #eac026;
        }
    }
    .start a {
        width: 193px;
        height: 55px; // margin-left: -86px;
        transform: translateX(-50%);
        border-radius: 28px;
        display: block;
        background-color: #fff;
        color: #000;
        font-size: 22px;
        line-height: 55px;
        position: absolute;
        bottom: 89px;
        left: 50%;
    }
    div:last-child{
        position: absolute;
        bottom: 42px;
        font-size: 14px;
        left: 50%;
        transform: translateX(-50%);
    }
}

//排行榜 list.html
.cal-list {
    min-height: 100%;
    background: rgba($color: #050001, $alpha: .74);
    padding: 0 8px;
    .title {
        padding-top: 82px;
        margin-left: 12px;
        padding-left: 25px;
        background: url(../images/cup.png)0 82px no-repeat;
        background-size: 15px;
        font-size: 12px;
        height: 15px;
        line-height: 15px;
    }
    ul {
        li {
            height: 45px;
            padding: 15px 0;
            padding-left: 18px;
            padding-right: 39px;
            border-bottom: 1px solid #595a68;
            display: flex;
            justify-content: space-between;
            line-height: 45px;
            position: relative;
            .rank {
                display: inline-block;
                width: 30px;
                position: relative;
                top:-5px;
                text-align: center;
            }
            &.first::before{
                content:"";
                width: 27px;
                height: 24px;
                background: url(../images/crown.png)center no-repeat;
                background-size: 26px;
                position: absolute;
                left:47px;
                top:5px;

            }
            &.top{
                .rank{
                    font-size: 25px;
                    color: #eac026;
                }
                .right{
                    color: #eac026;
                }
            }
            &.me{
                .right{
                    color: #eac026;
                }
            }
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            .name {
                line-height: 45px;
                display: inline-block;
                margin-left: 18px;
                position: relative;
                top:-15px;
                font-size: 15px;
            }
            .right {
                font-size: 20px;
                font-family: "Comic Sans MS";
            }
        }
    }
}

//我的成绩 Myrecord.html
.my-record {
    height: 100%;
    background: rgba($color: #050001, $alpha: .74);
    padding-top: 87px;
    box-sizing: border-box;
    .content {
        margin: 0px 20px;
        border-radius: 5px;
        border: 1px solid #9b9ba4;
        background: rgba($color: #050001, $alpha: .53);
        .title {
            height: 73px;
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid #9b9ba4;
            .avatar {
                width: 67px;
                height: 67px; // border-radius: 50%;
                margin-left: 10px;
                margin-top: 6px;
                margin-right: 6px;
                background: url(../images/avatarbg.png)center no-repeat;
                background-size: 67px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 47px;
                    height: 47px;
                    border-radius: 50%;
                }
            }
            .id {
                font-size: 12px;
                margin-top: 24px;
                margin-bottom: 8px;
            }
            .degree {
                padding-left: 27px;
                background: url(../images/degree.png) no-repeat;
                background-size: 24px;
                font-size: 10px;
                height: 15px;
                line-height: 15px;
                color: #eac026;
            }
        }
        .detail {
            ul {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                li {
                    width: 50%;
                    line-height: 40px;
                    font-size: 15px;
                    span:first-child {
                        margin-left: 23px;
                        width: 81px;
                        display: inline-block;
                    }
                    span.money {
                        color: #eac026;
                    }
                    span.recover {
                        padding-left: 15px;
                        background: url(../images/heart.png) left center no-repeat;
                        background-size: 13px;
                        box-sizing: border-box;
                    }
                }
                li:nth-child(2n) {
                    span:first-child {
                        width: 85px;
                    }
                }
            }
            .btn {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding: 23px 36px;
                a {
                    background: #fff;
                    color: #171616;
                    font-size: 15px;
                    display: block;
                    width: 108px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 15px;
                }
                a:first-child {
                    background: #eac026;
                }
            }
        }
    }
}

//slect-model.html
.select-model {
    height: 100%;
    background: rgba($color: #050001, $alpha: .74);
    padding: 0 57px;
    text-align: center;
    h1 {
        font-size: 15px;
        margin: 0;
        text-align: center;
        padding-top: 112px;
        font-weight: normal;
    }
    a {
        display: block;
        font-size: 17px;
        height: 54px;
        line-height: 54px;
        background: #fff url(../images/star.png);
        border-radius: 27px;
        margin-bottom: 11px;
        color: #1e1717;
        background-size: 302px;
    }
    a:first-of-type {
        margin-top: 46px;        
        background-size: 302px;
        background-position: -50px -30px;
    }
    a:active{
        background: #eac026 url(../images/star.png);
    }
    h2 {
        text-align: left;
        margin-top: 23px;
        margin-bottom: 15px;
        color: #dad1d1;
        font-size: 13px;
        font-weight: normal;
    }
    a:nth-of-type(2) {
        background-position: -50px -60px;
    }
    a:nth-of-type(3) {
        background-position: -50px -20px;
    }
}

//playgame.html
/*playgame*/
.play-game {
    height: 100%;
    min-height: 667px;
    background: rgba($color: #050001, $alpha: .74);
    .title {
        padding: 6.5% 27px 0;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        
        >span:before {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-right: 5px;
            background: #eac026;
            display: inline-block;
        }
        >span {
            text-align: right;
            font-size: 12px;
        }
        .left{
            font-size: 0;
            span{
                font-size: 20px;
            }
            span:nth-child(2) {
                font-size: 13px;
                margin: 0 20px;
            }
        }
    }
    .notice{
        font-size: 12px;
        color: #eac026;
        text-align: center;
        // position: relative;
        height: 20px;
        line-height: 20px;
        padding: 0 6px;
        border:1px solid #969499;
        border-radius: 10px;        
        min-width: 210px;
        margin-left:50%;
        transform: translateX(-50%);
        background: rgba($color: #111218, $alpha: .46);
    }
    .content {
        width: 282.5px;
        height: 190px;
        margin: 19px auto 0;
        padding: 0 17.5px;
        background: url(../images/blackboard.png)center no-repeat;
        background-size: 317.5px;
        position: relative;
        
        .time{
            text-align: center;
            padding-top: 25px;
            font-size: 17px;
        }
        .tips{
            color: #eac026;
            font-size: 12px;
            height: 19px;
            line-height: 19px;
            width: 69px;
            text-align: center;
            border: 1px solid #969499;
            border-radius: 10px;
            background: rgba($color: #111218, $alpha: .46);
        }
        .test{
            position: relative;
            margin-top: 25px;
            .test-main{
                font-size: 13px;
                line-height: 29px;
                // max-width: 75%;
            }
            .wrong{
                background: url(../images/wrong.png) no-repeat;
                background-size: 45px;
                width: 45px;
                height: 45px;
                position: absolute;
                right: 5px;
                top:10px;
            }
            .right{
                background: url(../images/right.png)center no-repeat;
                background-size: 52px;
                width: 52px;
                height: 45px;        
                position: absolute;
                right: 5px;
                top:10px;        
            }
        }
    }
    .btn{
        width: 260px;
        margin:35px auto 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        input{
            width: 149px;
            height: 55px;
            margin:0;
            padding: 0;
            border:0;
            background: rgba($color: #050001, $alpha: .35);
            font-size: 30px;
            border-radius: 5px;
            line-height: 55px;
            color: #fff;
            text-indent: 18px;
        }
        .clear{
            position: absolute;
            width: 18px;
            height: 18px;
            background: url(../images/clear.png)center no-repeat;
            background-size: 18px;
            left:113px;
            top:18.5px;
        }
        a{
            width: 95px;
            height: 55px;
            line-height: 55px;
            color: #171616;
            font-size: 15px;
            background: #eac026;
            // display: inline-block;
            text-align: center;
            border-radius: 5px;
        }
    }
    .keyboard{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 35px 15px 0;
        max-width: 345px;
        margin:0 auto;
        a{
            width:61px;
            height:61px;
            border-radius: 50%;
            text-align: center;
            border:0;
            margin-bottom: 15px;
            color: #171616;
            font-size: 28px;
            background: #fff;
            &:active{
                background: #f7ce38;
            }
            span{
                height: 30px;
                width: 15px;
                display: inline-block;
                border-bottom: 2px solid #eac026;
                margin-top: 14px;
            }
        }
    }
}
//iphone5等低分辨率下
/*iphone5等低分辨率下*/
@media screen and (max-width: 350px) {
    .play-game .content {
        background-size: 300px;
    }
    .play-game .keyboard a {
        width: 55px;
        height: 55px;
    }
    .my-record .content .detail .btn {
        padding: 23px;
    }
    .my-record .content .detail ul li span:first-child {
        margin-left: 13px;
    }
}

//score.html

.score{
    height: 100%;
    background: rgba($color: #050001, $alpha: .74);
    .header{
        text-align: center;
        padding-top: 85px;
        background: url(../images/star2.png) center 125px no-repeat;
        background-size: 200px;
        img{
            width: 54px;
            height:54px;
            border-radius: 50%;

        }
        div:first-of-type{
            font-size: 20px;
            margin-top: 18px;
            span{
                display: inline-block;
                margin-left: 5px;
            }
        }
        div:last-of-type{
            
            height: 20px;
            line-height: 20px;
            color: #eac026;
            font-size: 12px;
            width: 114px;
            margin:26px auto 65px;
            border:1px solid #898a94;
            border-radius: 10px;
            background: rgba($color: #111218, $alpha: .46)
        }
    }
    .title{
        padding: 0 25px;
        text-indent: 23px;
        height: 15px;
        background: url(../images/cup.png)25px 0 no-repeat;
        background-size: 15px;
        font-size: 12px;
        span:last-child{
            color: #eac026;
            display: inline-block;
            // margin-left: 20px;
            a{
                color: #eac026;
                text-decoration: underline;
                
            }
        }
    }
    .rank{
        padding: 0 25px;
        margin-top: 20px;
        font-size: 17px;
        span{
            font-size: 20px;
            display: inline-block;
            margin-left: 12px;

        }
    }
    >a{
        display: block;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        height: 45px;
        line-height: 45px;
        width:157px;
        font-size: 18px;
        text-align: center;
        background: #fff;
        color: #171616;
        border-radius: 23px;
        &:first-of-type{
            bottom: 135px;
        }
        &:last-child{
            bottom: 60px;
            background: #eac026;
        }

    }
    
}

//refund.html

.refund{
    .content{
        padding: 0 27px;
        .title{
            border:0;
            margin-top: 28px;
            height: 35px;
            color: #eac026;
        }
        input{
            width: 100%;
            background: none;
            border:none;
            border-bottom: 1px solid #fff;
            color: #fff;
            font-size: 12px;
            text-indent: 6px;
            height: 29px;
            line-height: 29px;
        }
        .detail{
            margin-top: 22px;
            font-size: 12px;
            line-height: 14px;
            color: #efeded;
            a{
                width: 100%;
                display: block;
                text-align: center;
                height: 37px;
                line-height: 37px;
                background: #fff;
                color: #000;
                margin:34px 0;
                border-radius: 18px;
                font-size: 15px;
            }
        }
    }
    .hover{
        position: fixed;
        z-index: 99;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba($color: #000000, $alpha: .5);
        .notice{
            position: absolute;
            top:50%;            
            left:50%;
            transform: translateX(-50%) translateY(-50%);
            // padding: 0 48px;
            min-width: 280px;
            background: #fff;
            // box-sizing: content-box;
            color: #000;
            font-size: 18px;
            border-radius: 5px;
            .title{
                margin-top: 29px;
            }
            .desc{
                font-size: 15px;
                color: #999;
                margin-top: 15px;
                padding-bottom: 18px;
                border-bottom: 1px solid #d2d3d5;
            }
            a{
                color: #00c200;
                font-size: 18px;
                display: block;
                height: 50px;
                line-height: 50px;
            }

        }
    }
}

//recover.html
.recover{
    .content{
        padding: 53px 0 32px;
        text-align: center;
        .tip1{
            font-size: 15px;
        }
        .tip2{
            font-size: 12px;
            margin-top: 20px;
            color: #eac026;
        }
        .detail{
            margin-top: 55px;
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            span:first-child{
                display: inline-block;
                padding-left: 29px;
                font-size: 15px;
                background: url(../images/heart.png)left center no-repeat;
                background-size: 20px;
            }
            span:last-child{
                font-size: 12px;
                color: #efeded;
            }
        }
        >a{
            display: block;
            text-align: center;
            height: 37px;
            line-height: 37px;
            
            width: 132px;
            margin:50px auto 0;
            background: #fff;
            border-radius: 19px;
            color: #000;
        }
    }
}
